/* RESET */
html,
body,
div,
span,
h1,
h2,
p,
a,
em,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

/* FIM RESET */

.bg-img {
  background-color: rgb(253, 80, 103);
  background-image: url("14885.jpg");
  background-size: 300px auto;
  background-position: center;
  background-repeat: repeat;
  height: 100px;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  border: solid rgba(245, 245, 245, 0.288) 3px;
  border-radius: 5px;
  background-color: rgba(255, 96, 117, 0.87);
  padding: 10px;
  color: whitesmoke;
  z-index: 1;
  margin: 10px;
}

.error:first-child {
  visibility: hidden;
}

form {
  border: solid rgba(245, 245, 245, 0.288) 3px;
  border-radius: 5px;
  background-color: rgba(255, 96, 117, 0.87);
  padding: 10px;
  height: 500px;
  width: 330px;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: hidden;
  z-index: 1;
}

#sexo {
  padding-left: 44px;
  margin-right: auto;
}

fieldset {
  line-height: 40px;
}

/* fieldset:hover {
  background-color: rgb(253, 112, 131);
} */

input {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.199);
  height: 1rem;
  padding: 5px;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

input:focus {
  background-color: rgba(255, 255, 255, 0.521);
}

#iEmail {
  margin-bottom: 30px;
}

select {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.199);
  height: 26px;
  padding: 5px;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.btn {
  height: 30px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.301);
  color: rgb(253, 80, 103);
  font-size: 1rem;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.918);
}

.btn:first-of-type {
  margin-right: 55px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  height: auto;
  padding: 2px 6px;
  border: solid rgb(253, 80, 103) 1.5px;
  border-radius: 10px;
  color: rgb(253, 80, 103);
  background-color: ghostwhite;
  font-size: 1rem;
}
